$btn-bg:linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
// $btn-bg:linear-gradient(129.54deg, #4effa9 15.57%, #FF584E 95.03%);
$white-color:#fff;
$text-color: rgba(15, 31, 28, 0.5);
$title-color: rgb(15, 31, 28);
$body-color:#F6F6F6;


